/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIAVEIS */
:root{
    --corBase: #212121;
    --corSemi: #017bf4;
    --fontePrincipal: #dfdfdf;
    --fonteSecundaria: #13a3a3;
}

/* BASE */
body{
    background-color: var(--corBase);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--fontePrincipal);
}

/* FILMES */

.filmeTop{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.25)100%), url("../img/oreino_background.jpg"); /* O linear-gradient COLOCA UMA CAMADA ESCURA NA FRENTE 
    DA IMAGEM PARA QUE FIQUE UM POUCO APAGADA E DÊ DESTAQUE AO TEXTO*/
    background-size: cover;
    font-size: 15px;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center; /* CENTRALIZA TUDO NO CENTRO DA DIV */
    align-items: flex-start;
}

.filmeTop .titulo{
    font-size: 36px;
    margin-bottom: 0px;
    margin-top: 10%;
}

.filmeTop .descricao{
    font-size: 16px;
}

.filmeTop .sinopse{
    margin: 22px 0;
}

.filmeTop .container{
    width: 60%;
}

.botao{
    border: 0;
    margin: 1px;
    margin-right: 10px;
    padding: 15px 30px;
    font-size: 11px;
    background-color: rgba(0,0,0,0.5);
    color: var(--fontePrincipal);
    border-radius: 5px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: var(--fonteSecundaria);
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 1%;
}

.boxFilmes{
    width: 100%;
    height: 100%;
    display: block;
}

.carrossel-filmes{
    margin-top: 5px;;
}