/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIAVEIS */
:root{
    --corBase: #212121;
    --corSemi: #017bf4;
    --fontePrincipal: #dfdfdf;
    --fonteSecundaria: #13a3a3;
}

/* BASE */
body{
    background-color: var(--corBase);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--fontePrincipal);
}

/* FILMES */

main{
    padding: 5px;
}

.destaques .container .filmeTop, .serieTop{
    height: 600px;
    width: 49.7%;
    padding-top: 150px;
    padding-left: 15px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* CENTRALIZA TUDO NO CENTRO DA DIV */
    align-items: flex-start; 
    background-size: cover;
    border: 1px solid var(--fontePrincipal);
    border-radius: 10px;
}

.destaques .container .filmeTop:hover, .serieTop:hover{
    border: 3px solid var(--fonteSecundaria);
}

.filmeTop{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.25)100%), url("../img/oreino_background.jpg"); /* O linear-gradient COLOCA UMA CAMADA ESCURA NA FRENTE 
    DA IMAGEM PARA QUE FIQUE UM POUCO APAGADA E DÊ DESTAQUE AO TEXTO*/
}

.serieTop{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.25)100%), url("../img/legados_background.jpg"); /* O linear-gradient COLOCA UMA CAMADA ESCURA NA FRENTE 
    DA IMAGEM PARA QUE FIQUE UM POUCO APAGADA E DÊ DESTAQUE AO TEXTO*/
}

.destaques .container{
    display: flex;
    justify-content:space-between;
}

.destaques .titulo{
    font-size: 36px;
    margin-bottom: 0px;
    margin-top: 10%;
}

.destaques .descricao{
    font-size: 16px;
}

.destaques .sinopse{
    margin: 22px 0;
}

.filmeTop .container{
    width: 60%;
}

.botao{
    border: 0;
    margin: 1px;
    margin-right: 10px;
    padding: 15px 30px;
    font-size: 11px;
    background-color: rgba(0,0,0,0.5);
    color: var(--fontePrincipal);
    border-radius: 5px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: var(--fonteSecundaria);
}

.botao i{
    margin-right: 8px;
}

.boxFilmes{
    width: 100%;
    height: 100%;
    display: block;
}

.carrossel-filmes{
    margin-top: 5px;
}

.item img{
    margin-top: 10px;
    max-width: auto%;
    max-height: 70%;
    border: 5px solid var(--fontePrincipal);
    border-radius: 10px;
}

.item img:hover{
    border: 2px solid var(--fonteSecundaria);
}


/* CARROSSEL DE SUGESTÕES */

.carrosselSugestoes .item{
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carrosselSugestoes .item:hover{
    border: 4px solid var(--corSemi);
}

#suges1{
    color: var(--corBase);
    background-color: var(--corSemi);
}

#suges1:hover{
    border: 4px solid var(--fontePrincipal);
}

#suges1 .logo{
    color: var(--fontePrincipal);
}